
@{
    ViewBag.Title = "My Tasks";
}
<div class="card shadow">

    @Html.Partial("_CardHeader")

    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-nowrap">

            </div>
            <div class="col-md-6">
                <div class="text-md-right dataTables_filter" id="dataTable_filter">
                    <label>
                        <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search">
                    </label>
                </div>
            </div>
        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>    
                        <th>System</th>
                        <th>Phase</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Difficulty</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (var x = 0; x < 20; x++)
                        {
                            <tr>
                                <td>Purchasing System</td>
                                <td>1</td>
                                <td>AM Page Color</td>
                                <td>Add AM Page</td>
                                <td><span class="badge badge-danger">High</span></td>
                                <td><span class="badge badge-danger">Pending</span></td>
                                <td>
                                    <a class="btn btn-primary btn-sm btn-edit" data-id="@x">
                                        <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i>
                                        <span class="sr-only">Edit</span>
                                    </a>
                                    <a class="btn btn-info btn-sm btn-view" data-id="@x">
                                        <i class="fa fa-eye" title="View" aria-hidden="true"></i>
                                        <span class="sr-only">View</span>
                                    </a>
                                    <a class="btn btn-success btn-sm btn-done" data-id="@x">
                                        <i class="fa fa-check-square-o" title="Done" aria-hidden="true"></i>
                                        <span class="sr-only">Done</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th>System</th>
                        <th>Phase</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Difficulty</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
