    <div class="card-header">
        @*<p class="text-primary m-0 font-weight-bold">My Tasks</p>*@
        <div class="row">
            <div class="col-md-6">
                <div class="margin-bottom-sm">
                    <a class="btn btn-primary btn-sm" id="btnCreate" data-toggle="modal" data-target="#modalCreateTask"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Task</a>
                </div>
            </div>
            <div class="col-md-6 ">
                @*<div class="margin-bottom-sm pull-right">
                    <a class="btn btn-success btn-sm" id="btnCreate"><i class="fa fa-check-square" aria-hidden="true"></i> Done</a>
                </div>*@
            </div>
        </div>
    </div>
