body {
    font-size: 0.8rem;
}
td {
    vertical-align: middle!important;
}
th {
    /*position: relative;
    bottom: -10px;*/
    vertical-align: middle!important;
}
th input[type="checkbox"] {
    
    margin-block: 6px 0px!important;
}

td input[type="checkbox"] {
    margin-block: 6px 0px!important;
}
.chkbx {
    width: -webkit-fill-available;
}

.badge {
    color: white!important;
}

.badge {
    color: white!important;
}
.badge.badge-light {
    color: black!important;
}

.badge-High {color:#fff;background-color:#e74a3b}
.badge-Medium {color:#fff;background-color:#f6c23e}
.badge-Low {color:#fff;background-color:#858796}

.badge-Pending {color:#fff;background-color:#e74a3b}
.badge-On-going {color:#fff;background-color:#f6c23e}
.badge-Done {color:#fff;background-color:#1cc88a}

/*dd p {
    
    border: 1px solid black;
    padding: 0 5px;
    border-radius: 3px;
}*/

.centered {
    text-align: center;
}

.shaker:hover, .shaking {
   animation: shake .3s infinite;
}

.nav-item:hover a i,
.nav-item a:focus i,
.sidebar-brand:hover .shaker,
.sidebar-brand:focus .shaker
{
   animation: shake .3s infinite;
}

.nav-item a:focus::after {

    content: ' -';
    color: black;
    /*font-family: "Font Awesome 5 Free";*/
}



@keyframes shake {
  0%   {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-10deg);}
}